@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'libs/animations';
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
// Breakpoints.
	@include breakpoints((
		wide:      ( 1281px,  1680px ),
		normal:    ( 981px,   1280px ),
		narrow:    ( 841px,   980px  ),
		narrower:  ( 737px,   840px  ),
		mobile:    ( 481px,   736px  ),
		mobilep:   ( null,    480px  )
	));
@import 'content/arrow';
@import 'content/base';
@import 'content/navigation';
@import 'content/smallbar';
@import 'content/resume';
@import 'content/projects';
@import 'content/contact';
@import 'content/button';
@import 'content/form';
@import 'content/cards';
@import 'content/mediaqueries';