/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		@include vendor('appearance', 'none');
		@include vendor('transition', 'border-color 0.2s ease-in-out');
        resize: vertical;
		background: #fff;
		border: solid 1px _palette(border);
		border-radius: _size(radius);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
		margin-top: 1.5em;

		&:focus {
			border-color: _palette(accent, bg);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	label {
		display: block;
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 0.5em;
	}

	::-webkit-input-placeholder {
		color: _palette(fg-light);
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: _palette(fg-light);
	}

	::-moz-placeholder {
		color: _palette(fg-light);
	}

	:-ms-input-placeholder {
		color: _palette(fg-light);
	}

/* Actions */

	ul.actions {
		@include vendor('display', 'flex');
		cursor: default;
		list-style: none;
		justify-content: center;
		margin-top: 2%;
		padding-left: 0;

		li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		&.special {
			@include vendor('justify-content', 'center');
			width: 100%;
			margin-left: 0;

			li {
				&:first-child {
					padding-left: 0;
				}
			}
		}

		&.stacked {
			@include vendor('flex-direction', 'column');
			margin-left: 0;

			li {
				padding: 1.25em 0 0 0;

				&:first-child {
					padding-top: 0;
				}
			}
		}

		&.fit {
			width: calc(100% + 1em);

			li {
				@include vendor('flex-grow', '1');
				@include vendor('flex-shrink', '1');
				width: 100%;

				> * {
					width: 100%;
				}
			}

			&.stacked {
				width: 100%;
			}
		}

		@include breakpoint('<=mobile') {

			&:not(.fixed) {
				@include vendor('flex-direction', 'column');
				margin-left: 0;
				width: 100% !important;

				li {
					@include vendor('flex-grow', '1');
					@include vendor('flex-shrink', '1');
					padding: 1em 0 0 0;
					text-align: center;
					width: 100%;

					> * {
						width: 100%;
					}

					&:first-child {
						padding-top: 0;
					}

					input[type="submit"],
					input[type="reset"],
					input[type="button"],
					button,
					.button {
						width: 100%;

						&.icon {
							&:before {
								margin-left: -0.5em;
							}
						}
					}
				}
			}
		}
	}